* {
    margin: 0;
    padding:  0;
    box-sizing: border-box;
}

.container {
    color: white;
    width: 100vw;
    background-color: palevioletred;
    
}
.Section1 {
    width: 100%;
    background: url(./images/banner.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    padding:35% 200px 40px 200px ;
}
.ab {
    font-size: 100px;
    width: 30%;
    text-transform: lowercase;
    padding: 25px 30px;
}
.info {
    width: 75% ;
    background-color: white;
    color: black;
    padding: 40px 30px;

}

.Section2 {
    width: 100%;
    padding: 100px 200px ;
}
.Section2 h2{
    line-height: 40px;

}
.Section2 h2 span {
    font-size: 4rem;
}
.Section2 p {
    width: 60%;
    justify-content: left;
}

.Section3 {
    width: 100%;
    margin-bottom: 20px;
}
.images {
    
}
.images img {
    max-width: 452px;
    float: left;
}
.Section4 {
    width: 100%;
    text-align: center;
    padding: 100px 0;
}
.Section4 h1 {
    text-transform: lowercase;
    font-size: 50px;
    padding: 20px 0;
}
.Section4 p {
    padding: 30px;
}
.Section4 div input, .Section4 div button {

    padding: 10px 10px;
    border-radius: 25px;
    border: none;
    margin-right: 5px;

}
.Section4 div button {
    color: white;
    background-color: black;
}
.Section5 {
    display: flex;
    
}
